.row {
  display: flex;
  justify-content: center;
}

.column {
  flex: 50%;
  width: 490px;
  justify-content: center;
}

.filters {
  display: flex;
  justify-content: center;
  padding-bottom: 10px
}

.filters-title {
  padding-right: 10px;
  padding-top: 5px
}

.centralized {
  display: flex;
  justify-content: center;
}
